/* Bordered form */
form {
        max-width: 250px;
        margin: 20px;
        font-family: "Helvetica Neue", Times, sans-serif;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.login-box form .container .loginButton {
    background-color: #77ccaa;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80px;
    font: 1em Verdana, Arial, sans-serif;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
}

/* Add padding to containers */
.container {
    padding: 16px;
    text-align: center;
    max-width: 100%;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}
.login-box {
    margin: auto;
    width: 350px;
}
.login-box h2 {
    padding: auto;
    width: 250px;
}
